<%= form_for(@offshore_manager_rating) do |f| %>
  <% if @offshore_manager_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offshore_manager_rating.errors.count, "error") %> prohibited this offshore_manager_rating from being saved:</h2>

      <ul>
      <% @offshore_manager_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
