#flsh_notice{
    color: red;
    width: 210px;
}
/* line 1, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/krishnaiah/CSP/csip/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

body {
    background-color: white;
    font-family: helvetica;
    width: 80%;
    margin: 0px auto;
    padding: 30px;
    min-height: 800px;
}

#footer .leftlinks {
  float: left;
  padding: 9px 0px 0;
}

#footer .copyright {
  float: right;
  padding: 9px 20px 0px;
}

.float_right{
    margin-left: 900px;
    background-color: #A6A30E;
}

#linkinfo{
    background-color: #A6A30E;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 40px 10 0 35px;
    padding: 0 10px;
}

table tr:nth-child(2n+1) td {
    background-color: #F7F7F7;
}

th {
  padding-right: 24px;
}

h1 {
    color: #025580;
}

h2 {
    color: #025580;
}

th{
    color: #A52A2A;
}

.button{
    background-color: #A6A30E;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 40px 0 0 350px;
    padding: 0 10px;
}


#footer {
    border-top: 1px solid #8BB8CB;
    color: #025580;
    clear: both;
    font-size: 13px; /* 12px */
    margin: 40px 0 0 0;
    padding: 20px 0 40px 0;
    text-align: right;
}

a {
    background-color: #24A9DF;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px 3px;
    text-decoration: none;
}

#Headerstyle {
    background-color: #24A9DF;
    border-radius: 8px 8px 8px 8px;
    color: #000000;
    text-align: center;
    font-weight: bold ;
    font-size: 20px;
    padding: 4px 8px 3px;
    text-decoration: none;
    margin: 4px 0 0;
}

#domain_knowledge {
    margin-left: 12px;
    width: 50px;
}
#technical_knowledge{
    width: 50px;
}

#signininfo2{
    color: #21222C;
    text-decoration: underline;
    background-color: #ffffff;
}

#signininfo1{
    margin-left: 80px;
    margin-top: 50px;
    color: #ffffff;
    display: none;
}

#navbar-link1{
    color: #21222C;
    text-decoration: underline;
    background-color: #ffffff;
    margin-left: 845px;
}

#navbar-link2{
    color: #21222C;
    text-decoration: underline;
    background-color: #ffffff;
}

.float_right{
    color: #21222C;
    text-decoration: underline;
    background-color: #ffffff;
}

#navbar-link3{
    color: dodgerblue;
    text-align: right;
}

#signindiv1{
    background-color: #24A9DF;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px 3px;
    text-decoration: none;
    border:none;
    margin-top: 20px;
}
#signindiv2{
    background-color: #24A9DF;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px 3px;
    text-decoration: none;
    border:none;
    margin-top: 20px;
}
#signindiv4{
    background-color: #24A9DF;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px 3px;
    text-decoration: none;
    border:none;
    margin-top: 20px;
    display: none;
}

#signindiv{
    width: 60px;
}



