<div id="footer">
	<div class="leftlinks">
		<a href="http://www.valuelabs.com/privacy-policy/">Privacy Policy</a>  |  
		<a href="http://www.valuelabs.com/terms-of-use">Terms of Use</a>  |  
		<a href="http://www.valuelabs.com/contact-us">Contact Us</a>  |  
		<a href="http://blog.valuelabs.com">Blog</a>  |  
		<a href="http://www.valuelabs.com/sitemap">Sitemap</a>
	</div>
</div>
